@charset "utf-8";
/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #4f260b;
    font-family: "A1 Mincho", "游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
        "ＭＳ 明朝", serif;
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
    /* 変化するスピード 動き*/
}

a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}
/* 上記cssのリセット */

body{
     background-color:  #FAF4DC
}

/* ヘッダー */
.header_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 6.53% 0 2.51%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;   
}

/* 左上designcafe白色ロゴ */
.logo{
    width:227px;
}

.pc_nav ul{
    display: flex;
}

.pc_nav ul li{
    width: 105px;
    margin-right: 54px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
    "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center
}

.pc_nav ul li:last-child{
        margin-right: 0;
}

.slider img{
    width: 100%;
}

.PAGETOP {
    width: 125px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}


/* have a happy day */
.text h4{
    font-weight: normal;
    font-size: 30px;
    line-height: 3.86;
    margin-top: 64px;
    font-feature-settings: "palt";
    text-align: center;
}

/* ハッピーに溢れる１日を～ */
.text h1{
    font-weight: normal;
    font-size: 82px;
    line-height: 1.17;
    margin-top: 53px;
    text-align: center;
    font-feature-settings: "palt";
    letter-spacing: 0.1em;
}

/* 毎日を丁寧に～ */
.text p{
    font-weight: normal;
    font-size: 23px;
    line-height: 1.65;
    margin-top: 37px;
    text-align: center;
    font-feature-settings: "palt";
    /* 文字詰めの設定 */
    letter-spacing: 0.1em;
}

/* ABOUT US */
.about_wrap{
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 90px;  
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*about us 画像  */
.photo{
    width: 50%;
    border-bottom-right-radius: 80px;
}

.about{
    padding-left: 70px;
}
/* about us 赤ロゴ */
.logo{
    width: 272px; 
}

.messeage{
    font-size: 16px;
    font-feature-settings: "palt";
    line-height: 1.62;
}

/* 私たちが提供する~ */
.headline{
    font-size: 44px;
    padding: 60px 0 40px 0;
    font-feature-settings: "palt";
    line-height: 1.38;
}

/* サービス提供する上で~ */
.message{
    font-size: 16px;
    font-feature-settings: "palt";
    line-height: 1.62;
    padding-top: 38px; 
}

/* MENU */
.menu_wrap{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

/* menu 赤ロゴ */
.menu_logo{
    width: 151px;
    padding-top: 103px;
}

.menu ul{
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
    text-align: left;
  
}

/* メニュー三枚の写真 */
.photo_3{
    border-top-right-radius: 30px;
}

.explanation{
    width: 30%;
}

/* drink food sweets の見出し*/
.title{
    font-size: 38px;  
    color: #D30202;  
    line-height: 0.57;
    padding-left: 16px;
}

/* 紹介文 */
.introduction{
    padding-top: 26px;
    font-size: 17px;
    line-height: 1.47;
}

/* GALLERY */
.gallery_wrap{
    text-align: center;

}

.gallery_img{
    padding-top: 93px;
    width: 245px;
}

/* GALLERYのロゴ */
.gallery{
    padding-top: 20px;
}

.event_wrap{
    max-width: 1000px;
    margin: 0 auto;
}

.event_image{
    text-align: center;
}

/* EVENT ロゴ */
.event_img{
    padding-top: 69px;
    width: 173px;
}

/* イベントの四角の中全体 */
.event_text{
    margin: 0 auto;
    font-size: 23px;
    line-height: 1.95;
    font-feature-settings: "palt";
    border: solid 3.6px #4F260B;
    background-color: #fff;
    box-sizing: border-box;
    margin-top: 40px;
    padding: 40px 0 22px 0;
    
}

/* 日付 */
.date{
    float: left;
    padding: 0 45px 0 160px;
}

/* 日付の内容 */
.contents{
    margin-bottom: 18px;  
    text-decoration: underline;
}

.access_image{
    text-align: center;
}

.access_img{
    width: 213px;
    padding: 75px 0 45px 0;
}

iframe{
    width: 100%;
    height: 471px;
}



footer{
    width: 100%;
    background-color: #fff;
    padding-left: 200px;
    /* ? */
}

.footer_wrap{
    display: flex;
    max-width: 1000px;
    margin: o auto;
    padding: 81px 0 75px 0;
    
}

.footer_logo{
    width:226px;
  
}

.info{
    font-size: 20px;
    padding-left: 70px;
    line-height: 1.95;
    font-feature-settings: "palt";
}

small{
    text-align: center;
    font-size: 16px;
    line-height: 2.18;
    font-feature-settings: "palt";
    padding-bottom: 80px;
}

.info_text{
    padding-bottom: 80px;
}





