@charset "utf-8";
/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #4f260b;
    font-family: "A1 Mincho", "游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
        "ＭＳ 明朝", serif;
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
    /* 変化するスピード 動き*/
}

a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}
/* 上記cssのリセット */

body{
     background-color: #e8d9bf;
}

/* ヘッダー */
.header_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 6.53% 0 2.51%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;   
    z-index: 100;
}

/* 左上designcafe白色ロゴ */
.logo{
    width:227px;
}

.pc_nav ul{
    display: flex;
}

.pc_nav ul li{
    width: 105px;
    margin-right: 54px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
    "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center
}

.pc_nav ul li:last-child{
        margin-right: 0;
}

.slider img{
    width: 100%;
}

/* スマホ版 */
.sp_nav,
.sp_btn{
    display: none;    
}


.PAGETOP {
    width: 125px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
}


/* have a happy day */
.title_en{
    font-weight: normal;
    font-size: 30px;
    line-height: 3.86;
    margin-top: 64px;
    text-align: center;
}

/* ハッピーに溢れる１日を～ */
.title_text{
    font-weight: normal;
    font-size: 82px;
    line-height: 1.17;
    margin-top: 53px;
    text-align: center;
    letter-spacing: 0.1em;
}

/* 毎日を丁寧に～ */
.title_detail{
    font-weight: normal;
    font-size: 23px;
    line-height: 1.65;
    margin-top: 37px;
    text-align: center;
    /* 文字詰めの設定 */
    letter-spacing: 0.1em;
}

.re_title-detail{
    display: none;
}

/* ABOUT US */
.about_wrap{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 97px;
}

/*about us 画像  */
.photo{
    border-bottom-right-radius: 80px;
}

.about{
    padding-left: 7%;
    width: 43%;
}
/* about us 赤ロゴ */
.about_2{
    width: 272px; 
}

.messeage{
    font-size: 16px;
    line-height: 1.62;
}

.logo_2{
    display: none;
}

.about_us_img{
    width: 50%;
}

/* 私たちが提供する~ */
.headline{
    font-size: 44px;
    padding: 60px 0 40px 0;
    line-height: 1.38;
}

/* サービス提供する上で~ */
.message{
    font-size: 16px;
    line-height: 1.62;
    padding-top: 38px; 
}

/* MENU */
.menu_wrap{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

/* menu 赤ロゴ */
.menu_logo{
    width: 151px;
    padding-top: 103px;
}

.menu ul{
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
    text-align: left;
  
}

/* メニュー三枚の写真 */
.photo_3{
    border-top-right-radius: 30px;
}

.explanation{
    width: 30%;
}

/* drink food sweets の見出し*/
.title{
    font-size: 38px;  
    color: #D30202;  
    line-height: 0.57;
    padding-left: 16px;
}

/* 紹介文 */
.introduction{
    padding-top: 26px;
    font-size: 17px;
    line-height: 1.47;
}

/* GALLERY */
.gallery_wrap{
    text-align: center;
}

/* GALLERYのロゴ */
.gallery_img{
    padding-top: 93px;
    width: 245px;
}
.gallery_photo img{
    width: 100%;
}


.event_image{
    text-align: center;
}

/* EVENT ロゴ */
.event_img{
    padding-top: 69px;
    width: 173px;
}

/* イベントの四角の中全体 */

.event_wrap{
    max-width: 1000px;
    margin: 0 auto;
}
.event_text{
    margin: 0 auto;
    font-size: 23px;
    line-height: 1.95;
    border: solid 3.6px #4F260B;
    background-color: #fff;
    box-sizing: border-box;
    margin-top: 40px;
    padding: 40px 0px 22px 0;


}

.info_detail{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin-left: 11.5%;

}




/* 日付の内容 */
.contents{
    margin-bottom: 18px;  
    text-decoration: underline;
    margin-left: 42px;


}


.access_image{
    text-align: center;
}

.access_img{
    width: 213px;
    padding: 75px 0 45px 0;
}

iframe{
    width: 100%;
    height: 471px;
}



footer{
    width: 100%;
    background-color: #fff;
}

.footer_wrap{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    padding: 81px 0 75px 0;

    
}

.footer_logo{
    width:226px;
  
}

.info{
    font-size: 20px;
    padding-left: 70px;
    line-height: 1.95;
}

small{
    text-align: center;
    font-size: 16px;
    line-height: 2.18;
    padding-bottom: 80px;
    margin-left: 60px;
}

.info_text{
    padding-bottom: 80px;
    line-height: 1.95;
}

/* スライダー調整 */
.slick-dots{
    bottom: 20px;
}

.slick-dots li.slick-active button:before{
    color: #fff;    
}

.slick-dots li button:before{
    color: #fff;    
}

.slick-dotted.slick-slider{
    margin-bottom: 0;
}

@media screen  and (max-width:1100px) {
    .pc_nav{
        display: none;
    }   
    .sp_btn{
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        height: 33px;
        z-index: 9999;
        /* positionとセットで使用 数が大きものが上に来る　順番を指定できる */
    } 
    .sp_btn span{
        background: #fff;
        width: 33px;
        height: 3px;
        display: block;
         /* 親要素にポジション要素をもっていたら基準となる */
        position: relative;
        top: 10px;
        transition: 0.3s;
        
    }
    /* 疑似要素　二次要素 */
    .sp_btn span::before,.sp_btn span::after{
        content:'' ;       
        background: #fff;
        width: 33px;
        height: 3px;
        display: block;
        position: absolute;
        transition: 0.3s;
        /*変化前のところに動きをかく  */
    }

    .sp_btn span::before{
        bottom: 10px;    
    }

    .sp_btn span::after{
        top: 10px;    
    }

    .open span{
        background: transparent;

    }

    .open span::before{
        bottom: 0px;
        transform: rotate(45deg);    
    }

    .open span::after{
        top: 0px;
        transform: rotate(135deg);    
    }

    .sp_nav{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        /* 画面幅いっぱいにしている */
        background: rgba(0,0,0,0.8);

    }

    .sp_nav ul{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sp_nav ul li{
        color: #fff;
        font-size: 18px;
        text-align: center;
        padding: 10px 0;
        font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
        "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    }


    .title_text{
       font-size: 60px;
    }

    .title_detail{
        font-size: 16px;
    }

    .headline{
        font-size: 35px;
    }

    .about_2{
        width: 200px;
    }

  
}

@media screen and (max-width:767px) {



    /* ヘッダーロゴ */
    .logo{
        width: 49.8vw;
        /* 187/375 計算方法要確認 */
    }

    /* ハンバーガーメニュー */
    .sp_btn{
        width: 8.5vw;
    }

    .text{
        width: 100%;
    }

    .title_en{
        margin-top: 42px;
        font-size:4.53vw;
        /* 17/375 */
    }

    /* ヘッダー 　ハッピーに*/
    .title_text{
        font-size: 9vw;
        /* 調整あり*/
        margin-top: 27px;
        line-height: 1.157;
    }


    .title_detail{
        display: none;
    }

    .re_title-detail{
        display: block;
        font-size: 16px;
        line-height: 1.875;
        margin-top: 25px;
        text-align: center;
    }

    /* ABOUT US */
    .about_wrap{
        display: block;
        width: 100%;
        margin: 0;
    }

    /* 私たちが提供する */
  .headline{
        font-size: 36px;
        line-height: 1.25;
        padding: 34px 3% 35px 3%;
    }

    .about_2{
        display: none;
    }

    .about{
        margin:0 auto;
        width: 100%;
        padding: 0;
    }

    .about_us_img{
        display: block;
        margin: 0 auto;
        width: 100%;
    }

    .photo{
        border-radius: 0;
        margin: 0;
    }

    /* 2つ目のABOUT USのロゴ */
    .logo_2{
        display: block;
        width:160px;
        text-align: center;
        padding-left: 0;
        margin: 0 auto;
        margin-bottom: 16px;
        margin-top: 60px;
    }

    .messeage{
        line-height: 1.75;
        font-size: 4.26vw;
        padding: 0 3% 51px 3%;
    }

    /* menu */
    .menu_wrap{
        padding-left: 7%;
        padding-right: 7%;
    }

    .menu_logo{
        padding: 0;
        width: 87px;
    }



    .menu ul{
        display: block;  
        padding-top: 23px;
    }

    .photo_3{
        width: 100%;
        margin: 0 auto;
    }

    .explanation{
        text-align: left;
        margin: 0 auto;
        width: 100%;
        margin-bottom: 55px;
        line-height: 1.58;
    }

    .title{
        font-size: 40px;
        line-height: 0.55;
    }

    /* EVENT */

    .event_wrap{
        padding-left: 4%;
        padding-right: 4%;
    }
    .event_image{
        padding-top: 0;
    }

    .event_text{
        padding: 22px 0 0 0;
    }

    .contents{
        margin: 0;
        margin-bottom: 30px;
    }

    .contents:last-child{
        margin-bottom: 17px;
    }


    /* ACCESS */
    .access_img{
        padding-top: 32px;
        padding-bottom: 13px;
        width: 124px;
    }

    .map{
        height: 0;
        overflow: hidden;
        padding-top: 51.2%;
        /* 後ほどまとめる */
        position: relative;
    }

    .map iframe {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }

    /* GALLERY */
    .gallery_img{
        width:142px;
        padding-top: 0;
    }

    /* EVENT */
    .event_img{
        width: 100px;
    }
    .event_text{
        font-size: 16px;
        margin-top: 19px;
    }

    .info_detail{
        display: block;
    }


    /* FOOTER */
    .footer_wrap{
        display: block;
        margin-left: 19px;
        padding: 46px 0 31px 0;
    }

    .footer_image{
        margin-bottom: 35px;
    }

    .info{
        padding: 0;
        font-size: 18px;
    }

    .info_text{
        margin-bottom: 45px;
        padding: 0;
    }

    small{
        padding-bottom: 33px;
    }


}



